/* all common css */
/* * {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: red;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
} */
/* all common css */

/* .dktr_full_wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dktr_wrapper-logo {
  width: 45%;
  background: yellow;
} */

/* login part start */
/* .dktr_wrapper-login {
  width: 45%;
  background: #ffffff;

  padding: 30px 20px;
  color: #010a25;
  border-radius: 19px;
}
.dktr_wrapper-login h1 {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}
.dktr_wrapper-login .email_text {
  margin-bottom: 30px;
}
button {
  background-color: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 400;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
}
button:hover {
  opacity: 0.8;
} */
/* login part end */


/* |
|
| */
/*all common css*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  background: #010a25;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.clr {
  clear: both;
}
.full_wrapper {
  width: 100%;
  background: #1A1D3A;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
/*all common css*/

/* dktr_page start */
/* .dktr_full_wrapper {
  background: #010a25;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* dktr_page end */

/* dktr logo part */
/* .dktr_wrapper-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dktr_wrapper-logo img {
  width: 45%;
  height: 60%;
  margin-right: 120px;
}
/* dktr login part */
/* .dktr_wrapper-login {
  width: 50%;
  background: #ffffff;
  padding: 40px 30px;
  color: #010a25;
  border-radius: 19px;
}
.dktr_wrapper-login h1 {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}
.dktr_wrapper-login .email_text {
  margin-bottom: 30px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}
button {
  background-color: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 400;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
}

button:hover {
  opacity: 0.8;
} */
*/
/* daktr part end */

/* select part start */
.select_part_top {
  width: 100%;
  background: #1A1D3A;
}
.select_part_top h1 {
  font-size: 27px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 10px 0px;
}
.select_items_bg {
  background: #010a25;
}
.select_items {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  padding: 50px 0px;
}
.select_items-item {
  padding: 40px 20px 20px 20px;
  background: #c8c8c8;
  text-align: center;
  border-radius: 9px;
  position: relative;
}
.select_items-item h4 {
  font-size: 18px;
  font-weight: bolder;
  font-family: ;
  line-height: 16px;
}
.select_items-item p {
  font-size: 14px;
  font-weight: normal;
  font-family: ;
  color: rgba(50, 50, 50, 1);
  margin-top: 10px;
  /* line-height: 16px; */
} 
.item_icon {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
}
/* select part end */
